/* General ccs */
* {
  box-sizing: border-box;
 }
 body {
   margin: 0;
   font-family: 'Lato', sans-serif;
 }
 li {
   list-style: none;
 }

/* HEADER */
 #head {
   display: flex;
   flex-direction: row;
  border: 2px solid lightgray;
 }

  header {
    height: 7vh;
  }
  #logo {
    width: 100px;
  }
  #logo-div{width: 20%;}

  #search, #profile {
    width: 40%;
  }
  #profile {
    display: flex;
  }
  #search button { height: 100%; }
  #bar {width:90%; height:100%;}
  #mail {width: 60%;}
  #g-plus {
    height: 100%;
    width: 150px;
  }

  #square {
    height: 100%;
    width: 150px;
  }

 /* MAIN */
 #main {
   display: flex;
   height: 90vh;
 }

 /* NAV */
 nav {
   width:20%;
   border-bottom: 2px solid red;
   background-color: grey;
 }
 nav li {
   margin: 15px 0;
   color:black;
 }

 .nav-footer{
   position:absolute;
   bottom: 5px;
   margin: 0 35px 42px 35px;
 }

 #colors {
   display: flex;
 }
 #colors div {
   width:25%;
   height:7px;
 }
.custom {
  color: white;
}
 .blue {
   background-color: blue;
 }

 .red {
   background-color: red;
 }

 .yellow {
   background-color: yellow;
 }

 .green {
   background-color: green;

 }

 article {
   width: 40%;
   padding: 0 7%;
 }
/* ASIDE */
aside {
   /* flex: 0 0 30vw; */
   width: 30%;
   flex-direction: column;


 }

 aside img {
   height: 30vh;
   width: 100%;

 }





 /* ======================= */
